<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
    <meta charset="UTF-8">
    <title>Hola mundo con AngularJS</title>
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-controller="FirstController">
    



    <h1>Agregar nuevo comentario</h1>
    Comentario: <input type="text" ng-model="nuevoComentario.comentario">
    <br><br>
    Usuario: <input type="text" ng-model="nuevoComentario.username">
    <br><br>
    <button ng-click="agregarComentario()">Agregar comentario</button>
    <br><br>
    <hr>





    <input type="text" ng-model="nombre"><br>
    {{'hola '+nombre}}<br>
    <h3>Comentarios</h3>
    <ul>
        <li ng-repeat="comentario in comentarios">
            {{comentario.comentario}} - 
            <strong>{{comentario.username}}</strong>
        </li>
    </ul>





    <h1>LLAMADAS HTTP - Recuperando posts desde jsonplaceholder</h1>
    <h1>Agregar nuevo post</h1>
    <input type="text" ng-model="newPost.title"> <br>
    <textarea ng-model="newPost.body">

    </textarea>
    <button ng-click="addPost()">Enviar</button>
    <hr>



    <h1>Listado de posts</h1>
    <ul>
        <li ng-repeat="post in posts">
            <h2>{{post.title}}</h2>
            <p>
                {{post.body}}
            </p>
        </li>
    </ul>




    <hr>
</body>
</html>